<mat-toolbar class="navbar navbar-inverse bg-primary">
    <img src="../assets/images/star.png" height="40rem" width="40rem">
    <input matInput type="text" class="col-4 justify-content-center form-control searchicon"
        [formControl]="searchProduct" placeholder="Search" style="color: white;" (keyup)="searchForProducts()">
    <mat-icon [matBadge]="cartTotalValue" matBadgeColor="warn" style="color: white;">shopping_cart</mat-icon>
</mat-toolbar>
<div class="container-fluid" style="background-color: #f3ecec;">
    <app-product-list></app-product-list>
</div>